<div class="jumbotron jumbotron-color">
  <h1 class="display-4">Michelle's Beauty Salon!</h1>
  <p class="lead">Es cierto que el amor conserva la belleza y que la cara de las mujeres se nutre de caricias, lo mismo que las abejas se nutren de miel.</p>
  <hr class="my-4">
</div>

<div class="container">
  <div class="row mt-5 mb-5">
    <div class="col-4">

      <div class="card">
        <img src="https://i.imgur.com/OIhP9lg.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Colormetria</h5>
          <p class="card-text">Somos expertas en el estudio de los colores, para que nunca batalles en decidir colores en base a tu tono de piel.</p>
          <%= link_to "Reservar", new_reservation_path, class: 'btn btn-primary' %>
        </div>
      </div>

    </div>
    <div class="col-4">

      <div class="card">
        <img src="https://i.imgur.com/760WUQb.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Curly hair</h5>
          <p class="card-text">Planchados normales, curlys y tambien permanentes.</p>
          <%= link_to "Reservar", new_reservation_path, class: 'btn btn-primary' %>
        </div>
      </div>

    </div>
    <div class="col-4">

      <div class="card">
        <img src="https://i.imgur.com/VUhd0r5.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Cortes</h5>
          <p class="card-text">Cortes para cerrar ciclos, o cambiar de look.</p>
          <%= link_to "Reservar", new_reservation_path, class: 'btn btn-primary' %>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="jumbotron jumbotron-color" style="margin: 0px">
  <p class="lead">Contacto: 8186811252.</p>
  <p class="lead">Direccion: Washington 1121 colonia Centro, Monterrey, Mexico.</p>
  <hr class="my-4">
  <p>La belleza no mira, sólo es mirada.</p>
</div>